html, body {
  height: 100%;
  margin:0;
}


#root {
  max-width: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  text-align: left;
  display: flex;
  flex-direction: column;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  height: 64px;
  flex-shrink: 0;
  

  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */
  gap: 18px;                 /* space between logo and text */
  padding: 8px 0;
  background: linear-gradient(
    to bottom,
    #3B8C85,
    #2F6F6A
  );
  color: #F4F7F6; 
  
}




.footer {
  height: 48px;
  flex-shrink: 0; 
  background: linear-gradient(
    to bottom,
    #3B8C85,
    #2F6F6A
  );
  color: #F4F7F6;

}

.footer p {
  margin: 0; /*Removinf the default margin*/
  padding: 14px 0; /* Vertically center the text */
  text-align: center; 
  color: black;
}

.sidebar {
  width: 200px;
  background: linear-gradient(
    to bottom,
    #6F9F8F,
    #5C8E7E
  );
  color: black;
  text-align: center;
}



.container {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.center-body {
  flex: 1;
  display: flex;
  overflow: hidden;
  min-height: 0;
}

.main-content {
  display: flex;
  overflow-y: auto;
  color: black;
  height: 100%;
  flex: 1;
  position: center;
  background-color: #86ad9a;
  flex-direction: column;
  width: 100%;
}

