html, body {
  height: 100%;
  margin:0;
}


#root {
  max-width: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  text-align: left;
  display: flex;
  flex-direction: column;
}

/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}*/

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*:root {
  --navbar-height: 64px;
  --footer-height: 48px;
}*/

/*.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}*/
.navbar {
  height: 64px;
  flex-shrink: 0;
  

  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */
  gap: 18px;                 /* space between logo and text */
  padding: 8px 0;
  background-color: #a8bd9c;  
  
}




.footer {
  height: 48px;
  flex-shrink: 0; 
  background-color:#a8bd9c ;

}

.footer p {
  margin: 0; /*Removinf the default margin*/
  padding: 14px 0; /* Vertically center the text */
  text-align: center; 
  color: black;
}

.sidebar {
  width: 200px;
  flex-shrink: 0;
  background-color: #06351e;;
  color: black

}



.container {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.center-body {
  flex: 1;
  display: flex;
  overflow: hidden;
  min-height: 0;
}

.main-content {
  display: flex;
  overflow-y: auto;
  color: black;
  height: 100%;
  flex: 1;
  position: center;
  background-color: #86ad9a;
  
}
/*.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
  z-index: 1000;
  text-align: center;
}

.sidebar {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  width: 20%;
  height: calc(100vh - var(--navbar-height) - var(--footer-height));
  overflow: auto;
  background-color: red;
  
}

.main-content {
  margin-top: var(--navbar-height);
  margin-bottom: var(--footer-height);
  margin-left: 20%;
  height: calc(100vh - var(--navbar-height) - var(--footer-height));
  overflow: auto;
  background-color: #1a1a1a;
  color: #ffffff;
  width: 80%;

  overflow-y: auto;
}*/


.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0;
  
}

.table th,
.table td {
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



